/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

body{
    font-family: 'roboto', sans-serif;
}

.container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: white;
    padding: 0.3rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 5em;
} 

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    font-size: 0.9em;
    display: block;
    padding: 1rem 1.5rem;
    margin: 0 0.5rem;
    transition: all 0.4s linear;
    text-decoration: none;
    color: #001B69;
}

.navigation ul li a:hover {
    border-radius: 2px;
    color: #0057ff;
}

/* MAIN */

.main {
    padding-top: 14rem;
    color: #001b69;
    height: 50px;
    background: white;
    
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.1em;
    color: #0057ff;
    margin-bottom: 0.4em;
    margin-top: 0.2em;
}

h2 {
    display: inline-block;
}

h3 {
    display: inline-block;
    margin-bottom: 1.2em;
}

.name{
    font-weight: 700;
}

p {
    font-size: 1rem;
    margin-bottom: 1.6em;
}

.main-ip{
    display: block;
    width: 1000px;
    display: flex;
    justify-content: end;
    margin-top: -32em;
    margin-right: -10em;
    display: none;
}

/* SECTION 1 */

.section-projects {
    width: 100%;
    height: 720px;
    background-color: #0057ff;
    margin-top: 35em;
}

.container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3em;

}

.project {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 1.5em;
    border-radius: 2px;
}

.projects-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    width: 60%;
    max-width: 1200px;
    margin: 0 auto;

    color: white;
    font-size: 1.7em;
    font-weight: 700;
    padding-top: 4em;
}







@media only screen and (max-width: 767px) {
    .navigation {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li {
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 1rem 1.5rem;
        transition: all 0.4s linear;
    }
    
    .navigation ul li a:hover {
        border: 1px solid #0057ff;
    }

    .menu-icon {
        color: #001b69;
        display: block;
        cursor: pointer;
    }
}




/*

.content{
    width: 300px;
    height: 300px;
    border: 1px solid teal;
    display: inline-block;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

.box{
    width: 100px;
    height: 100px;
    background-color: tomato;

}

.content__box{
    width: 100%;
    height: 500px;
    border: 1px solid rgb(36, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

*/
